{% extends 'mrrobotin/base_generic.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2 style="color: rgb(255, 255, 255);">Ofertas</h2>
            </div>
        </div>
    </div> 
    <br> 
    <div class="row">
        <div class="col-sm-6">
            <div id="myCarousel1" class="carousel slide" data-ride="carousel" >
                <!-- Imagenes -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'images/pc1front.jpg' %}" alt="pc de frente" style="width:100%;"  >
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Gear® Desktop Gamer Black Knight</h3>
                            
                        </div>
                    </div>
                    
                    <div class="item">
                        <img src="{% static 'images/pc1abierto.jpg' %}" alt="pc abierto" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Gear® Desktop Gamer Black Knight Intel®</h3>
                            </div>
                    </div>
                        
                    <div class="item">
                        <img src="{% static 'images/pc1boton.jpg' %}" alt="Pc boton" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Gear® Desktop Gamer Black Knight Intel®</h3>
                            </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pc1lado.jpg' %}" alt="Pc de lado" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Gear® Desktop Gamer Black Knight Intel®</h3>
                            </div>
                    </div>
                </div>
                    
                <!-- Controles-->
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div> 
        </div>   
        <div class="text col-sm-6">
            <div class="row text-center">
                <h3 style="color: rgb(241, 239, 239);">Características</h3>
                <p class="esp" style="color: rgb(241, 239, 239);">Procesador: Intel® Core™  i7-9700K  3.60 GHz hasta 4.90 GHz <br>
                    Placa Madre: Asus TUF Z390-PRO Gaming<br>
                    Gabinete: Deepcool New Ark 90SE <br>
                    Memoria RAM: Ballistix Tactical Tracer RGB 16GB DDR4 2666MHz . Memoria Máx 64GB <br>
                    Almacenamiento: Unidad SSD Crucial 250GB MX500 + Disco Duro Toshiba 1TB P300 Sata3 7200 rpm. <br>
                    Tarjeta Gráfica: ASUS NVIDIA ROG Strix GeForce RTX™ 2080 edición OC de 8GB<br>
                    Refrigeración CPU: Deepcool Aircooling Gammax GT<br>
                    Fuente de Poder: Deepcool 750W DQ750-M 80Plus Gold </p><br>
                <h4 style="color: rgb(241, 239, 239);">$800.000</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="text col-sm-6">
            <div class="row text-center">
                <h3 style="color: rgb(241, 239, 239);">Características</h3>
                <p class="esp" style="color: rgb(241, 239, 239);"> Procesador: AMD® Ryzen 7 3700X  desde 3.6GHz hasta 4.4GHz <br>
                    Placa Madre: Asus® M/B AMD Prime A320M-K (AM4) <br>
                    Gabinete: Deepcool® Matrexx 55<br>
                    Memoria RAM: 8GB DDR4 2400MHz <br>
                    Almacenamiento: Disco Duro 1TB Sata3 7200 rpm<br>
                    Tarjeta Gráfica: Asus® Video NVIDIA GTX1650 DUAL 4 GB<br>
                    Sistema Operativo: Free DOS (Sin Sistema Operativo)<br>
                    Fuente de Poder: PSU DA500 500W 80Plus + Bronce</p><br>
                    <h4 style="color: rgb(241, 239, 239);">$750.000</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="myCarousel2" class="carousel slide" data-ride="carousel" >
    
                 <!-- Imagenes -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'images/pc2front.jpg' %}" alt="pc de frente" style="width:100%;"  >
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Desktop Gamer Red Leeroy AMD® </h3>
                            
                        </div>
                    </div>
                    
                    <div class="item">
                        <img src="{% static 'images/pc2open.jpg' %}" alt="pc abierto" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Desktop Gamer Red Leeroy AMD®</h3>
                            
                            </div>
                    </div>
                        
                    <div class="item">
                        <img src="{% static 'images/pc2abierto.jpg' %}" alt="pc abierto 2" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Desktop Gamer Red Leeroy AMD®</h3>
                            
                            </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pc2boton.jpg' %}" alt="boton pc" style="width:100%;">
                        <div class="carousel-caption">
                            <h3 style="color: rgb(241, 239, 239);">Desktop Gamer Red Leeroy AMD®</h3>
                        </div>
                    </div>
                </div>
                    
                <!-- Controles-->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div> 
        </div>
    </div>
<br>  

{% endblock %}